{% if error_pages %}
  <h1>Pages that return errors ({{ number }} pages)</h1>    
  <table>
    <head>
      <tr>
        <td>Site Title</td>
        <td>Status Code</td>
        <td>Notes</td>
        <td>Site URL</a></td>
      </tr>
    </head>
    <tbody>
      {% for page in error_pages %}    
        <tr>
          <td>{{ page.site_title }}</td>
          <td>{{ page.status_code }}</td>
          <td>{{ page.notes }}</td>
          <td><a href="{{ page.site_url }}" title="{{ page.site_title }}">{{ page.site_url }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There were no pages with error_pages.</p>
{% endif %}