{% if page_errors %}
  <table>
    <tbody>
      <h1>Get bad urls and print to CSV</h1>

      <form action="{% url 'source_pages:get_page_error_responses' %}" method="post">
      {% csrf_token %}
    
      <input type="submit" value="Post error pages to database" />
      </form>

    {% for error in page_errors %}    
      <tr>
        <td>{{ error.0 }}</td>
        <td>{{ error.1 }}</td>
        <td><a href="{{ error.2 }}" title="{{ error.1 }}">{{ error.2 }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There were no pages with page_errors.</p>
{% endif %}