{% extends 'site_base.html' %}
{% load humanize %}

{% block error_pages_active %}class="active"{% endblock %}

{% block content %}
  {% if error_pages %}
    <h2>Pages that return errors: {{ number|intcomma }} total</h2>
    <table>
      <thead>
        <tr>
          <th>Site Title</th>
          <th>Site URL</a></th>
          <th class="text-center">Status Code</th>
        </tr>
      </thead>
      <tbody>
        {% for page in error_pages %}    
          <tr>
            <td>{{ page.site_title }}</td>
            <td><a href="{{ page.site_url }}" title="{{ page.site_title }}">{{ page.site_url }}</a></td>
            <td class="text-center">{{ page.status_code }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There were no pages with error_pages.</p>
  {% endif %}
{% endblock %}