{% if pages %}
  <h1>All pages ({{ number }})</h1>    
  <table>
    <head>
      <tr>
        <td>Site Title/URL</td>
        <td>Status Code</td>
      </tr>
    </head>
    <tbody>
      {% for page in pages %}  
        <tr>
          <td>{{ page.site_title }}</td>
          <td>{{ page.status_code }}</td>
        </tr>
        <tr>
          <td><a href="{{ page.site_url }}" title="{{ page.site_title }}">{{ page.site_url }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There were no pages with pages.</p>
{% endif %}