{% extends 'site_base.html' %}

{% block content %}  
  {% if error_forms %}
    <h1>Forms that return errors: ({{ number }} forms)</h1>    
    <table>
      <thead>
        <tr>
          <th class="text-center">Status Code</th>
          <th>Form</a></th>
        </tr>
      </thead>
      <tbody>
        {% for form in error_forms %}    
          <tr>
            <td>{{ form.status_code }}</td>
            <td><a href="{{ form.canonical_url }}">{{ form.canonical_url }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There were no forms with error_forms.</p>
  {% endif %}
{% endblock %}