{% extends 'site_base.html' %}
{% load humanize %}

{% block error_forms_active %}class="active"{% endblock %}

{% block content %}  
  {% if error_forms %}
    <h2>Forms that return errors: {{ number|intcomma }} total</h2>    
    <table>
      <thead>
        <tr>
          <th class="text-center">Status Code</th>
          <th>Form</a></th>
        </tr>
      </thead>
      <tbody>
        {% for form in error_forms %}    
          <tr>
            <td>{{ form.status_code }}</td>
            <td><a href="{{ form.canonical_url }}">{{ form.canonical_url }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>There were no forms with errors.</h2>
  {% endif %}
{% endblock %}